<a href="https://colab.research.google.com/github/jahnavi-sri/ML-LAB/blob/main/DATA_PREPROCESSING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATA PREPROCESSING**

In [1]:
import numpy as np
import pandas as pd

In [3]:

data=pd.read_csv("auto_mpg1.csv")
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [4]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [5]:
from sklearn.impute import KNNImputer
import numpy as np
import pandas as pd
data[data == '?'] = np.nan
numerical_column = 'horsepower'
numerical_data = data[[numerical_column]]
remaining_data = data.drop(columns=[numerical_column])
remaining_data.columns = remaining_data.columns.astype(str)

In [9]:
categorical_columns = ['car name']
for col in categorical_columns:
      remaining_data[col] = pd.factorize(remaining_data[col])[0]
imputer = KNNImputer(n_neighbors=2)
remaining_imputed = imputer.fit_transform(remaining_data)
combined_data = pd.concat([numerical_data, pd.DataFrame(remaining_imputed, columns=remaining_data.columns)], axis=1)

combined_data

,horsepower,mpg,cylinders,displacement,weight,acceleration,model year,origin,car name
0,130,18.0,8.0,307.0,3504.0,12.0,70.0,1.0,0.0
1,165,15.0,8.0,350.0,3693.0,11.5,70.0,1.0,1.0
2,150,18.0,8.0,318.0,3436.0,11.0,70.0,1.0,2.0
3,150,16.0,8.0,304.0,3433.0,12.0,70.0,1.0,3.0
4,140,17.0,8.0,302.0,3449.0,10.5,70.0,1.0,4.0
...,...,...,...,...,...,...,...,...,...
393,86,27.0,4.0,140.0,2790.0,15.6,82.0,1.0,300.0
394,52,44.0,4.0,97.0,2130.0,24.6,82.0,2.0,301.0
395,84,32.0,4.0,135.0,2295.0,11.6,82.0,1.0,302.0
396,79,28.0,4.0,120.0,2625.0,18.6,82.0,1.0,303.0
397,82,31.0,4.0,119.0,2720.0,19.4,82.0,1.0,304.0

In [10]:
combined_data.isnull().sum()

horsepower      6
mpg             0
cylinders       0
displacement    0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64